<div class="searchOrSwitch">
  <div style="display: flex;">
    <div style="display: flex; flex: 1;">
      <div class="button" [class.selected]="movieOrShow === 'tvshows'" (click)="switchTo('tvshows')"><span>TV Shows</span></div>
      <div class="button" [class.selected]="movieOrShow === 'movies'" (click)="switchTo('movies')"><span>Movies</span>
      </div>
    </div>
    <div style="display: flex; align-items: center;">
      <div class="button icon" [class.selected]="galleryOrListView === 'gallery'" (click)="galleryOrList('gallery')" title="gallery view">
        <span><i class="fa fa-th-large"></i></span>
      </div>
      <div class="button icon" [class.selected]="galleryOrListView === 'list'" (click)="galleryOrList('list')"  title="list view">
        <span><i class="fa fa-th-list"></i></span>
      </div>
    </div>
  </div>

  <div class="search-box">
    <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
    <ng-container *ngIf="movieOrShow === 'movies'; else TVShows">
      <input class="search-input" placeholder="Search for a movie.." [(ngModel)]="searchedItem"
        (keyup)='searchFunction()'>
    </ng-container>
    <ng-template #TVShows>
      <input class="search-input" placeholder="Search for a TV show.." [(ngModel)]="searchedItem"
        (keyup)='searchFunction()'>
    </ng-template>
  </div>
</div>

<app-tvshows *ngIf="this.movieOrShow === 'tvshows'" [tvshows]="tvshows" [searchedItem]="searchedItem" 
  [tvshowsTotalPages]="tvshowsTotalPages" [galleryOrListView]="galleryOrListView" #tvshowsComponent>
</app-tvshows>
<app-movies *ngIf="this.movieOrShow === 'movies'" [movies]="movies" [searchedItem]="searchedItem"
  [totalPages]="totalPages" [galleryOrListView]="galleryOrListView" #moviesComponent>
</app-movies>
